{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Create a lease with the provided values." %}</p>
{% endblock %}

{% block modal-body %}
<style>
.datepicker{z-index:1051!important;}
</style>
<div class="left">
    <fieldset>
        <input id="cookie_offset" type="hidden" value="{{offset}}" />
    <div class="alert alert-warning" id="timezone">
      <p>
        {% blocktrans %}
        Your timezone is currently configured as <b>{{timezone}}</b>. If you need to update your
        timezone please go to your
        {% endblocktrans%}
        <a href="{% url 'horizon:settings:user:index' %}">User Settings</a>.
      </p>
    </div>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Create a new lease with the provided values." %}</p>
      <p>
        Leave date and time values blank to start a lease immediately (on-demand).
      </p>
      <p>
        For specific node reservations, you can find the node UUID using
        <a href="https://www.chameleoncloud.org/user/discovery">Resource Discovery</a>
        on the user portal.
      </p>
      <p>
        Please be courteous to other users of the testbed and make sure your lease represents a responsible 
        use of Chameleon resources and complies with our 
        <a href="https://chameleoncloud.readthedocs.io/en/latest/getting-started/faq.html#what-are-the-best-practices-for-chameleon-usage" target="blank">
            best practices</a>. 
        Chameleon operators reserve the right to terminate leases judged to be abusive.
      </p>
</div>
{% endblock %}

{% block modal-footer %}
  <a href="{% url 'horizon:project:leases:index' %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
<script type='text/javascript' charset='utf-8'>
    (function(window, horizon, $, undefined) {
        'use strict';

        $('#id_start_date').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true
        });

        $('#id_end_date').attr('readonly', 'readonly');

        var offset = new Date().getTimezoneOffset();
        var cookie_offset = $('#cookie_offset').val();

        if (cookie_offset != offset) {
            $('#timezone').show();
        } else {
            $('#timezone').hide();
        }

        $('#id_number_of_days, #id_start_date').on('change', function(event){
            var numberOfDays = $('#id_number_of_days').val();
            if (numberOfDays != '' || $('#id_start_date').val() != ''){
                setEndDateTime();
            }
        });

        function setEndDateTime(){
            var startDate = $('#id_start_date').datepicker('getDate');
            if(startDate == 'Invalid Date'){
                startDate = new Date();
            }

            var leaseLength = parseInt($('#id_number_of_days').val());
            if(isNaN(leaseLength)){
                $('#id_number_of_days').val('1');
                leaseLength = 1;
            }
            var result = new Date(startDate);
            result.setDate(result.getDate() + leaseLength);

            $('#id_end_date').val(formatDate(result));
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

    })(window, horizon, jQuery);
</script>
{% endblock %}
