{# TODO(nicktimko): currently unused because it's unreliable. #}
{% extends 'horizon/_scripts.html' %}

{% block custom_js_files %}
  <script src='{{ STATIC_URL }}leases/js/vendor/d3.gantt.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}leases/js/vendor/d3.gantt.network.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}leases/js/lease_gantt.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}leases/js/network_gantt.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}
