<div id="criteria-device" style="margin-bottom:50px">
    <input id="criteria-payload-device" form_data="{{ widget.value }}" name="criteria-{{ widget.name }}" type="hidden">
    <div id="no-criteria-warning-device" class="alert alert-danger" hidden="hidden">
        <strong>No filters are specified,</strong> random device will be
        assigned. Recommend that you
        <a href="#" class="cri-adder" data-cri-name="vendor">add a filter for a vendor</a>.
    </div>
    <div>
        <ul id="criteria-list-device" class="form-inline" style="padding-inline-start:0px;">
        </ul>
    </div>
    <button id="criteria-add-device" style="margin-top:10px;float:right;" type="button" class="btn btn-sm btn-success">Add Filter</button>
</div>

<script>

var cri_div = document.querySelector('#criteria-device');
if (cri_div.dataset.loaded_once === undefined) {
	capabilitiesjs('device');
	cri_div.dataset.loaded_once = true;
	console.log('loaded criteria widget code')
} else {
	console.log('blocked reload of widget code :/');
}

</script>
