<div class="inline-groups">
  <div class="control-group">
    <label class="control-sublabel" for="timespan-{{ widget.name }}-days">Days</label>
    <div class="controls">
      <input type="text" id="timespan-{{ widget.name }}-days" name="timespan-{{ widget.name }}-days" placeholder="0" class="form-control">
    </div>
  </div>
  <div class="control-group">
    <label class="control-sublabel" for="timespan-{{ widget.name }}-hours">Hours</label>
    <div class="controls">
      <input type="text" id="timespan-{{ widget.name }}-hours" name="timespan-{{ widget.name }}-hours" placeholder="0" class="form-control">
    </div>
  </div>
  <div class="control-group">
    <label class="control-sublabel" for="timespan-{{ widget.name }}-minutes">Minutes</label>
    <div class="controls">
      <input type="text" id="timespan-{{ widget.name }}-minutes" name="timespan-{{ widget.name }}-minutes" placeholder="0" class="form-control">
    </div>
  </div>
</div>
