# bandit is not included in upper-constraints, so we need to pin it here to a
# known working version
bandit==1.6.2 # Apache-2.0
coverage!=4.4,>=4.0 # Apache-2.0
hacking>=7.0.0,<7.1.0 # Apache-2.0
nodeenv>=0.9.4 # BSD
pytest>=5.3.5 # MIT
testtools>=2.2.0 # MIT
