{% load i18n %}

{% block help_message %}
{% if network_enabled %}
<div class="alert alert-info">
Network name is required when reserving a network.
</div>
<div id="network-warning" class="alert alert-warning" style="visibility: hidden">
Network reservations are required for some advanced networking features, like stitching and the filesystem.
It is possible to create a private layer 2 VLAN without a network reservation.
<a href="https://chameleoncloud.readthedocs.io/en/latest/technical/networks/networks_vlan.html" target="_blank">
  Learn more.
</a>
</div>
<div id="ip-warning" class="alert alert-warning" style="visibility: hidden">
Floating IP addresses are used to connect to an instance over the internet. There is typically
no need to reserve more than one per-project for a given site. If there are no floating IPs available,
try taking an ad-hoc IP (no reservation required).
<a href="https://www.chameleoncloud.org/blog/2019/02/27/save-planet-use-fewer-ips/" target="_blank">
  Learn more.
</a>
</div>
{% endif %}
{% endblock %}
